:root{
  --font-family: 'Courier New', Courier, monospace;
  --color:#444444;
  }
  
.sec{
    background-image: url(hero-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
     
    }
    .crousal{
    background-image:url(testimonials-bg.jpg);
    height:60vh;
    background-size: cover;
    background-repeat: no-repeat; 
    opacity: 0.9;
    background-position: center;
    position: relative;
    
   
}
.font{
  font-family: cursive;
}
  

 
    

    
    
    